# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore the virtual environment directory
venv/

# Ignore any generated documentation files
docs/_build/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore log files
*.log

# Sphinx files
_static
_templates